<div id="markdown-editor">
  <textarea
    cdkTextareaAutosize
    placeholder="Enter title in plain text"
    [(ngModel)]="title"
  ></textarea>
</div>
<div>
    <textarea
    cdkTextareaAutosize
    placeholder="Enter summary in plain text"
    [(ngModel)]="summary"
  ></textarea>
</div>
<div>
    <textarea
    cdkTextareaAutosize
    placeholder="Enter header e.g. 1 min read"
    [(ngModel)]="header"
  ></textarea>
</div>
<div>
    <textarea
    cdkTextareaAutosize
    placeholder="Enter content in markdown"
    (keyup)="onValueChanged($event)"
  ></textarea>
</div>
<h1 [innerHtml]="title"></h1>
<div [innerHtml]="parsedString"></div>

<button mat-button (click)="createPost()">Create Post</button>
