@import "../../../../variables.scss";

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.editor-section:focus-visible {
  border: none;
}

.editor-section {
  margin: 10px;
}

.editor-section {
  margin: 10px;
}

.image-upload {
  height: 200px;
}

.editor-field-container {
  min-height: 51px;
  margin: 10px;
}

.editor-field-markdown-container {
  min-height: 306px;
  margin: 10px;
}

.invalid {
  border: 0.5px solid $tomato;
  cursor: pointer;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.editor-section2 {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  margin: 10px;
}

.file-input {
  display: none;
}
