<div class="view-admin-page-container">

  <mat-accordion>
    <mat-expansion-panel class="expansion-panel">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Posts
        </mat-panel-title>
        <mat-panel-description class="expansion-panel-description">
          Create, Edit and Delete posts.
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div>
        <button mat-button routerLink="/admin/post/create">Create Post</button>
        <button mat-button routerLink="/admin/post/edit">Edit Post</button>
        <button mat-button routerLink="/admin/post/draft">View Draft Posts</button>
        <button mat-button routerLink="/admin/post/delete">Delete Post</button>
      </div>
    </mat-expansion-panel>

    <mat-expansion-panel class="expansion-panel">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Projects
        </mat-panel-title>
        <mat-panel-description class="expansion-panel-description">
          Create, Edit or Delete projects.
        </mat-panel-description>
      </mat-expansion-panel-header>
      <button mat-button>Create Project</button>
      <button mat-button>Edit Project</button>
      <button mat-button>Delete Project</button>
    </mat-expansion-panel>
    <mat-expansion-panel class="expansion-panel">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Subscriptions
        </mat-panel-title>
        <mat-panel-description class="expansion-panel-description">
          View mailing list
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>View subscribers from mailing list</p>
    </mat-expansion-panel>
    <mat-expansion-panel class="expansion-panel">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Analytics
        </mat-panel-title>
        <mat-panel-description class="expansion-panel-description">
          View analytics data
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>View site analytics.</p>
    </mat-expansion-panel>
    <mat-expansion-panel class="expansion-panel">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Account
        </mat-panel-title>
        <mat-panel-description class="expansion-panel-description">
          Configure account settings
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div>
        <a mat-button href="https://localhost:5001/Account/Manage">Manage Account</a>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>

<!-- <div>isAuthenticated: {{ isAuthenticated }}</div> -->
<div>has token: {{ token !== null ? true : false }}</div>
<div>{{ token }}</div>
<button (click)="printUser()">Print user</button>
<button (click)="printToken()">Print token</button>
<button (click)="callApi()">Call Api</button>