@import "./variables.scss";

html {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin-bottom: 0.25em;
  margin-top: 0.25em;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: $softgray;

  & .flex-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: stretch;

    & .flex-item {
      list-style: none;
    }
  }
}
