@import "./variables.scss";

* {
    box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

body {
  margin: 0;
  /*border: 2px solid $black;*/
}
main {
    /*margin: 0 40px;*/
    /*border: solid 2px $blue;*/
}

/*.flex-container {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;*/
  /*align-content: stretch;*/
/*}*/

.flex-item {
  /*list-style: none;*/
}

mat-icon {
  cursor: pointer;
}
