// unused
$blue: #3688e7;
$tomato: #ff6347;
$black: #000000;
$gray: #808080;
$green: #5ce500;
$orange: #e79315;
$softgray: #dddddd;
$lighterblue: #b6e7f8;

// used
$orange: #ff9000;
$lightblue: #61d5ff;
$white: #ffffff;