<nav class="main-nav">
  <section class="main-nav-section">
    <a id="brand-name" class="flex-item">Lachezar Georgiev</a>
    <mat-icon *ngIf="isScreenSmall" (click)="toggle()" [ngClass]="isCollapsed ? 'visible': 'hidden'">menu</mat-icon>
    <mat-icon *ngIf="isScreenSmall" (click)="toggle()" [ngClass]="isCollapsed ? 'hidden': 'visible'">menu_open</mat-icon>

    <ul id="main-nav-large" class="main-nav-list" [ngClass]="!isScreenSmall ? 'visible' : 'hidden'">
      <li class="flex-item">
        <button mat-button color="primary" routerLink="/" routerLinkActive="active">Home</button>
      </li>
      <li class="flex-item">
        <button mat-button color="primary" routerLink="/projects">Projects</button>
      </li>
      <li class="flex-item">
        <button mat-button color="primary">About</button>
      </li>
      <li class="flex-item">
        <button mat-button color="primary">Search</button>
      </li>
      <li class="flex-item">
        <button mat-button color="primary">Subscribe</button>
      </li>
      <li class="flex-item" *ngIf="this.isUserLoggedIn && this.userRole === 'admin'">
        <button id="admin-button" mat-button color="primary" routerLink="/admin">Admin Area</button>
      </li>
    </ul>
    <app-login-menu id="brand-name2" class="flex-item header-item logo" *ngIf="!isScreenSmall"></app-login-menu>
  </section>
  <ul id="main-nav-small" *ngIf="isScreenSmall" [ngClass]="isCollapsed ? 'hidden' : 'visible'">
    <li class="flex-item">
      <button mat-button color="primary" routerLink="/" routerLinkActive="active">Home</button>
    </li>
    <li class="flex-item">
      <button mat-button color="primary" routerLink="/projects">Projects</button>
    </li>
    <li class="flex-item">
      <button mat-button color="primary">About</button>
    </li>
    <li class="flex-item">
      <button mat-button color="primary">Search</button>
    </li>
    <li class="flex-item">
      <button mat-button color="primary">Subscribe</button>
    </li>
    <li class="flex-item" *ngIf="this.isUserLoggedIn && this.userRole === 'admin'">
      <button id="admin-button" mat-button color="primary" routerLink="/admin">Admin Area</button>
    </li>
  </ul>
</nav>
