nav {
  & ul.flex-container {
    // position: relative;
    padding-left: 0;
    justify-content: center;
    & .flex-item {
      text-align: center;
      font-size: 1.1em;
      font-weight: bold;
      line-height: 2em;
      margin: 0.25em;
      padding: 0.25em;
    }
  }
  .subtitle {
    text-align: center;
    display: block;
  }
}
