@import "../../../variables.scss";

@mixin ul-display-flex() {
  display: flex;
  list-style: none;
  padding: 0;
}

#main-nav-small {
  display: none; // fixes flickering when resizing the window
  max-height: 0;
  margin: 0;
}

mat-icon {
  /*display: none; // fixes flickering when resizing the window*/
}

.main-nav {

  .main-nav-section {
    display: flex;
    align-items: center;
  }

  .main-nav-list {
    @include ul-display-flex();
    justify-content: center;
    flex: 3;
    flex-wrap: wrap;
    margin: 0;

    .flex-item {
      margin: 0 16px;
    }
  }

  #brand-name {
    font-weight: bold;
    flex: 1;
  }

  #brand-name2 {
    font-weight: bold;
    flex: 1;
    text-align: right;
  }

  mat-icon {
    flex: 1;
    text-align: right;
  }
}


mat-icon.hidden {
  display: none;
}


@media screen and (max-width: 44em) {
  #main-nav-large {
    display: none;
  }

  #main-nav-small {
    @include ul-display-flex();
    flex-direction: column;
    align-items: flex-end;

    &.hidden {
      transition: max-height 0.4s ease-out;
      overflow: hidden;
      max-height: 0;
    }

    &.visible {
      transition: max-height 0.4s ease-in;
      overflow: hidden;
      max-height: 150px; // TODO: increment this value if more items are added in the nav menu*/
    }
  }

  mat-icon.visible {
    color: $orange;
  }
}
