<nav>
  <section>
    <article>
      <ul class="flex-container header-container">
        <li class="flex-item logo header-item">Affix</li>
        <li class="flex-item header-item">
          <mat-icon *ngIf="isScreenSmall" (click)="toggle()" [ngClass]="isCollapsed ? 'visible': 'hidden'">menu</mat-icon>
          <mat-icon *ngIf="isScreenSmall" (click)="toggle()" [ngClass]="isCollapsed ? 'hidden': 'visible'">menu_open</mat-icon>
        </li>
      </ul>
<!--      <span class="logo">Affix</span>-->
<!--      <mat-icon *ngIf="isScreenSmall" (click)="toggle()" [ngClass]="isCollapsed ? 'visible': 'hidden'">menu</mat-icon>-->
<!--      <mat-icon *ngIf="isScreenSmall" (click)="toggle()" [ngClass]="isCollapsed ? 'hidden': 'visible'">menu_open</mat-icon>-->
    </article>
    <article [ngClass]="!isCollapsed || !isScreenSmall ? 'visible' : 'hidden'">
      <ul class="flex-container">
        <li class="flex-item">
          <button mat-button color="primary" routerLink="/" routerLinkActive="active">Home</button>
        </li>
        <li class="flex-item">
          <button mat-button color="primary">Posts</button>
        </li>
        <li class="flex-item">
          <button mat-button color="primary">Projects</button>
        </li>
        <li class="flex-item">
          <button mat-button color="primary">About</button>
        </li>
      </ul>
    </article>
    <section>
      <article>
        <h2 class="subtitle"> Nav menu that servers as a header
<!--        <app-login-menu></app-login-menu>-->
        </h2>
      </article>
    </section>
  </section>
</nav>
