@import "../../../variables.scss";

nav {
  & ul.flex-container.header-container {
    justify-content: space-between;
    margin-bottom: 0;
  }

  & ul.flex-container {
    margin-top: 0;
    padding-left: 0;
    justify-content: center;

    & li.flex-item {
      text-align: center;
      font-size: 1.1em;
      font-weight: bold;
      line-height: 2em;
      margin: 0.25em;
      padding: 0.25em;

      & button {
        font-size: 20px;
      }
    }
  }

  .subtitle {
    text-align: center;
    //display: block;
  }
}

span.logo {
  //padding: 3em;
  font-weight: bold;
  font-size: 1.5em;
  font-family: 'Montserrat', sans-serif;
}

mat-icon {
  cursor: pointer;
  float: right;
}

mat-icon.hidden {
  display: none;
}

article.hidden {
  transition: max-height 0.75s ease-out;
  overflow: hidden;
  max-height: 0;

}

article.visible {
  transition: max-height 0.75s ease-in;
  overflow: hidden;
  max-height: 250px; // TODO: increment this value if more items are added in the nav menu
}

@media screen and (max-width: 44em) {
  button {
    width: 15em;
  }

  mat-icon.visible {
    color: #ff9000;
  }

}

.header-item {

}
