@import "../../../../../variables.scss";

.post-card {
  max-width: 338px;
  min-height: 180px;
  /*max-height: 306px;*/
  margin: 0.5em;
}

.mat-card:hover {
  box-shadow: 0 2px 1px -1px $lightblue, 0 1px 1px 0 $lightblue,
  0 1px 3px 0 $lightblue;
  cursor: pointer;
}

.header-icon {
  background-size: cover;
  border-radius: unset;
}

.csharp {
  background-image: url("../../../../../assets/c-sharp.png");
}
.database {
  background-image: url("../../../../../assets/database.png");
}
.cloud {
  background-image: url("../../../../../assets/cloud.png");
}
.productivity {
  background-image: url("../../../../../assets/productivity.png");
}
.git {
  background-image: url("../../../../../assets/git.png");
}