container_commands:
  command block:
    command: |
      echo "Backing up SQLite file..." |
      sudo aws s3 cp /var/app/current/AffixIdentityDb.db s3://affix-is-db/AffixIdentityDb.db |
      echo "Finished backing up SQLite file."
  01_chmod1:
    command: "Setting permissions on 01_certbot.sh"
    command: "chmod +x .platform/hooks/postdeploy/01_certbot.sh"
