<div class="footer container">
    <ul class="flex-container">
        <li class="flex-item">
            <mat-icon aria-hidden="false" aria-label="angular logo" svgIcon="angular_logo">
            </mat-icon>
            <a href="https://material.angular.io/">{{credits[0]}}
            </a>
        </li>
        <li class="flex-item">
            <mat-icon aria-hidden="false" aria-label="extension" class="footerIcon">extension
            </mat-icon>
            {{credits[1]}}
        </li>
        <li class="flex-item">
            <mat-icon aria-hidden="false" aria-label="email contact">email
            </mat-icon>
            {{credits[2]}}
        </li>
    </ul>
</div>
