.footer {
    background:#ff9000;
    height: 4em;
    flex-shrink: 0;
}
ul.flex-container {
    display: flex;
    flex-direction: row;
    //flex-flow: row wrap; // same as flex-direction: row + flex-wrap: wrap
    flex-wrap: wrap;
    justify-content: space-between;
}

ul li {
    font-size: 0.8em;
    list-style-type: none;
}
