files:
  /etc/pki/tls/certs/server.crt:
    content: |
      -----BEGIN CERTIFICATE-----
      MIIFljCCA36gAwIBAgIUO03RblpOLitFhClmeda1w2RFmnswDQYJKoZIhvcNAQEL
      BQAwaDELMAkGA1UEBhMCVVMxCzAJBgNVBAgMAlZBMREwDwYDVQQHDAhSaWNobW9u
      ZDEOMAwGA1UECgwFQWZmaXgxEjAQBgNVBAsMCUFmZml4LURldjEVMBMGA1UEAwwM
      NTQuMjEwLjkuMjI0MB4XDTIxMTAyMjE1NDMzOFoXDTI0MTAyMTE1NDMzOFowaDEL
      MAkGA1UEBhMCVVMxCzAJBgNVBAgMAlZBMREwDwYDVQQHDAhSaWNobW9uZDEOMAwG
      A1UECgwFQWZmaXgxEjAQBgNVBAsMCUFmZml4LURldjEVMBMGA1UEAwwMNTQuMjEw
      LjkuMjI0MIICIjANBgkqhkiG9w0BAQEFAAOCAg8AMIICCgKCAgEAx8UJLgLRG//Q
      bxXleyi8spskvmIY4eaMpiVOYjcHJcOaPBU0DOOX6ndSWqvsiC613L1n5wuYAvPq
      ZvSctP/djQnst8/+HStaPlmB3nTORzcjeZDoKxDxaet1S4F/Q00Ax0zZ6lcmsG57
      40Z9q/htjTlqMW/oC8Uau8hm/HDp2BSN8NSwh2FTbFXyOoS6FaAC0bXzHb7dqwtz
      L9tmbxmaK08Ki1hf7o7r7izcHuWEgwz48WFgO043DMuMICVcrHowWczQDDZz4JVy
      Od+Vx69YqmIaixrifI7SdeASxvf/De6Ju5VCO0fERFV8Ej6L0Rf3b3ndmDqe3NLM
      2+QmS8oRS0NwjlnlwMwKwcM3ffWvGbJA+ijbI0lDvPANoPlcaLWbilad3Qrr4vF+
      VJ0VA7fgbIpvP6CUA6EKJroO/yauR5vSKKHidcXit54WxPLPRs6ZRBAh77Qo4uLS
      Bq78cGOlVwhmcMgZBwBj3eDCoyrrPQkXyQgF+bqAFteflWi0ZWESIiGVPPbTs985
      AjEG8oBYJ33e+8yX+JQEG9vdipDgl3PGW10+yxOQ3oSx61i403V0flrUGASEforn
      6BHw2819EFFd5HWjiBdekeUvfu9RbrmL7lYGlh4pkIZmrnhEx2LdnQaFTzPm79fn
      kB+HLWXp/s9/8RUPi13PM9iKOlNuPbkCAwEAAaM4MDYwDgYDVR0PAQH/BAQDAgOI
      MBMGA1UdJQQMMAoGCCsGAQUFBwMBMA8GA1UdEQQIMAaHBDbSCeAwDQYJKoZIhvcN
      AQELBQADggIBACsNHMp0k1gKa810YPivYL9rQy5DsWitH26es5rc7LUph1M904Wf
      ImZHfzq5cjJQYGFhyWNAFj5s4w8miu9R8GmZE1dJHc/IH4JZIPUX6TWBrl1VoKHr
      nX5WsaZKi4ydi3AmA6VG48HADYYuxc2p8jqekMOyWTjILmOXAdPg9RJXotL782C8
      nRHK+J8A8vHKAEnGZQ9d6qrogQ/rw/9QNwo2l9A/QKdvmKSdciF1aQYQSUWgICUg
      EfDvxTLaZrlvGBUZOUOSHSq8dV+awFxlzVC4t6qgUk4YXUokLFS6/jrd6CCyeyBz
      SDOmX8/1YuO14Yck281eLdJYoPWdBWpVR9TJkuIp0d+cihixXGM5XFD8XbMOKHNI
      t/tYlAEFzfJgPz4+zI1np00xFxtMhXeA4WZob+YZG90u+5i18lGOvubJZJ4WGRp6
      SYb0xvjHqzJTZzds8NiXrXJhXwptD0KpesBkDUGaiM26vklDAZV1IrJ8k+OxxgwQ
      lk5OHSQGc76CpfEqKnH+tjvjpj1KfHg/Cw8uN/r9+jue0WE2xSU99wcs8oR434SV
      l4/XlJJJK9dnLmIBKlfgp9XiT1OxzSZts9SBn8eG/oMxz8X/xNK1MKJf7wm/27uV
      eC/ks9twr4OqgOnnScRR9Vf8OI7RQrOUPMf7ASZxR5afC2BX0KUPb6IW
      -----END CERTIFICATE-----

      
  /etc/pki/tls/certs/server.key:
    content: |      
      -----BEGIN RSA PRIVATE KEY-----
      MIIJKAIBAAKCAgEAx8UJLgLRG//QbxXleyi8spskvmIY4eaMpiVOYjcHJcOaPBU0
      DOOX6ndSWqvsiC613L1n5wuYAvPqZvSctP/djQnst8/+HStaPlmB3nTORzcjeZDo
      KxDxaet1S4F/Q00Ax0zZ6lcmsG5740Z9q/htjTlqMW/oC8Uau8hm/HDp2BSN8NSw
      h2FTbFXyOoS6FaAC0bXzHb7dqwtzL9tmbxmaK08Ki1hf7o7r7izcHuWEgwz48WFg
      O043DMuMICVcrHowWczQDDZz4JVyOd+Vx69YqmIaixrifI7SdeASxvf/De6Ju5VC
      O0fERFV8Ej6L0Rf3b3ndmDqe3NLM2+QmS8oRS0NwjlnlwMwKwcM3ffWvGbJA+ijb
      I0lDvPANoPlcaLWbilad3Qrr4vF+VJ0VA7fgbIpvP6CUA6EKJroO/yauR5vSKKHi
      dcXit54WxPLPRs6ZRBAh77Qo4uLSBq78cGOlVwhmcMgZBwBj3eDCoyrrPQkXyQgF
      +bqAFteflWi0ZWESIiGVPPbTs985AjEG8oBYJ33e+8yX+JQEG9vdipDgl3PGW10+
      yxOQ3oSx61i403V0flrUGASEforn6BHw2819EFFd5HWjiBdekeUvfu9RbrmL7lYG
      lh4pkIZmrnhEx2LdnQaFTzPm79fnkB+HLWXp/s9/8RUPi13PM9iKOlNuPbkCAwEA
      AQKCAgAhURkw1UNuugFXJX26RpcB6qH8Jnwj4MGATCSAeND2WWL1tkuSArspXXEc
      siOmqrOl9ujHPcXCaE+lkBI6lZmrlgYmuceVsc9BKshgA3cLpYSDF8nAtPiuQ5iy
      WQySetswYf7N+G75adO7mdwHvEz5CqRNTm6S1/KXctrKK0K0yOjLS42NZov1O3hE
      jjJCvQb7Vq8PPO/XQPea+aphyRFPO8V0a+7D6I4skMq9VGX/PUCfcTANdAP2XFQo
      YFLOaSp7L49bGhHFWOdOA54FSZcuA2KN5JP1VhR/mDlJeb7N4gSShlgfbt6qzt78
      Y/YJj0ezDc4JP22TQozr92bzqOWtLkdgrXad+apxC8TWvt+R7wWJS/PBGXyrbusp
      xa8XDgidXyUZcwgvGrIU4hvvTu0lDGJpjL7HHlzt0aSVVb8WU8UB31V5UR+7tKdR
      wnpbWRP2L1b7amLJmBSovb2YPmUYzp2XKgXrbRBMwFukKJca1R9gG5Logu/5upSv
      uRAC8w5iTeXbjvhlKQoL4Ru71QJqVoxtddNtVZ0Pdz+gp5fEfALcsdwnGCDpKrNP
      +s3QMDF3uV0UFWe8/5CiFnfP9F0M1osQeuxNAbf0YYRn/suLRNBQb5xtS5ognMUp
      aLRWx56Q20Lh/imnKbCtlTsYAN6opdD+doceTAWTDTUAqiHzoQKCAQEA5Zx/nf2W
      FZq6xLZVUgSSKaMfbozl68em+CHddGJS/V/I5qd7hJO3PCclF25SWocBVV9hBquT
      sgyxVJpJ0m77/oEVCw4pbIUF0Ptkw1xUTIcw6GiMU4S7xsf6oA2XPkc7ROYtGUWC
      cCYQIYDnDgmlg7504KicGAPn6zNGfmDgEEiMY9g2b++nXjVushk6Hh1WndTEg/sR
      56daaE43yR5aLDJ9ZdF45pajrxV0MmzjjUffRMFbZa6C1VwYZLP2BiFWWG6iCrkG
      jl4WgLHWF/rYzlNfZonkqSHYCwr2WdEcfmMa5AtL4GCtw1A3gM4BhZSTum7WwYrY
      NEnNWexnn2LVPQKCAQEA3rqNYRgB28MccY4TVQ4lkedwK7ByLPXPhn+t85nl0blb
      avBq++4pHIJWocjy+Of22+Juzi184etrZ73m4cBw+cEueCl9zUd4pJwvkQV6Xhxl
      zbXbc8ukcUngKBSCxEbAkOaTa3CY3tnwBWtR3cDcnBwrSLGKp6xepOIc2HAwUP2M
      pZwzbjSR4XvBVB9mM+VLfS6c+Z0nqvKhNz8hJPevoUBgFLszEKMSCvRr84Xn/X8F
      a389SdGqB8PkHx3skSMEgpAwng0IBcVE+QNoxyQiNPZiz4UClulcacwXutJNuL3z
      r/9A5qsXy8zPysmJqG8Nkkm66sk2cB4J0dsw7QnqLQKCAQBTJHcli3S0QAIPRwLg
      Hx2aDCJOkqCS3wm74e9hvFTWwL9rngvg9ugr1PTeZilV9HrsIgxtMOXbXDM+Mlw2
      4c9H2g/3n9oqHIT9pnpXL3CrAW0ZSvo9J9wi37kGCcXRXFO+4CZGd2ADIhVHPHju
      IVoYuXdy/jr/izKIfVmyW3vnCY4kfV9A6yPMvkZmITJlQzRhFHFQZTKXkobvLBuR
      LPdz95hmrRI9VSDSPk+EDt/bAcJ8EBP7XtSrU5zVokCc+addgDoW7ebM2I8HbN3c
      cw3csF3kMFxnTgUAAqkv3sOVlGdhWiHQjtF83ugqMO5mI2XW5VnIXXFqharhO/RN
      x6j1AoIBAFVGj8LQ8kU12roPb49tLy1Bs0zG7bARHTedwvg1wCwgD8RN8Ggss0jb
      Dlg7G+v4xCdD9rCx8dJ91E2QA8oDaD33nNcc67Gg36wGsJ+RvVwy+zdbnX4kRf2q
      D0zJLZgAjtHrth24qo8IWkF46YtBwDV1A419jFzOPh5bBDhKG/WmXic6OubC8eem
      /ko7C2JrNA/lvOxFI17sLpV8cjA5NOFESIUnd1GzXcEb/AjtB/minGyf9tNAlx0J
      /1l6l4yqH5vtoO+ihaPP96xvhbpZN0+X1hUmE+u7xUosfhllU6Sb9aU40Zx/fUjm
      TdiSeUYn3sZXvF0QVOtwVMooZf8bgLECggEBAKvo/jZ/IzZigJf8fWc51PspDEeR
      YWW/nDqWqBbOn6VIqt/9Lc8si0T6q4O4HXHYjMDr1VY4viW8rgLW3M8as/6V+OLx
      7iy4qNIpSLYxqlcgKv2n31Ej3t+fKOV+VRQSDGtCJ5IXLx+mWD8qJdXdemHiio2W
      C6dvqFrCiRjdIP5Shr0Ikx28VmUF1h04QPQ5XYQ88lrSAnti9Hw/75fO/JuDFhzK
      bx7cW3qJ23sGwpYa1NpZXFuRUFang6DpftLkVlazP5wvd40TrYul30bh8dqRmv9W
      YBCaLym2EWpY/WII2g/jTBd6OAw+dNxskvoAGuCXQGHfZv95PT+62I7S4rw=
      -----END RSA PRIVATE KEY-----

container_commands:
  01restart_nginx:
    command: "systemctl restart nginx"
