@import "../../../variables.scss";

.flex-container {
  // margin: 0;
  // padding: 0;
  display: flex; /*by default flex direction is row*/
  flex-wrap: wrap;
  // flex-wrap: wrap; /* default is nowrap */
  /* justify-content: space-around; default is flex-start */
  /* control the position of the flexbox items as
  a whole in relation to the flexbox container */
  align-items: flex-start; /* alight to the height of the flex-container */
  justify-content: space-between;
  * {
    flex: 1 1 160px;
  }
}

.flex-item {
  margin: 5px;
  // height: 150px;
  // margin-top: 55px;

  // background: cornflowerblue;
  // color: white;
  // font-weight: bold;
  // font-size: 3em;
  // text-align: center;
  // line-height: 150px;
}

.mat-card:hover {
  box-shadow: 0 2px 1px -1px $lightblue, 
              0 1px 1px 0 $lightblue, 
              0 1px 3px 0 $lightblue;
  cursor: pointer;
}