<!-- <app-view-post-card [postTitle]="posts[0].title" [postContent]="posts[0].content"></app-view-post-card> -->
<app-view-post-card [header]="sampleHeader"
                    [title]="sampleTitle"
                    [subtitle]="sampleSubtitle"
                    [content]="sampleContent"
                    >
</app-view-post-card>
<app-view-post-card [header]="sampleHeader"
                    [title]="sampleTitle"
                    [subtitle]="sampleSubtitle"
                    [content]="sampleContent"
                    >
</app-view-post-card>
<app-view-post-card [header]="sampleHeader"
                    [title]="sampleTitle"
                    [subtitle]="sampleSubtitle"
                    [content]="sampleContent"
                    >
</app-view-post-card>
<app-view-post-card [header]="sampleHeader"
                    [title]="sampleTitle"
                    [subtitle]="sampleSubtitle"
                    [content]="sampleContent"
                    >
</app-view-post-card>
<app-view-post-card [header]="sampleHeader"
                    [title]="sampleTitle"
                    [subtitle]="sampleSubtitle"
                    [content]="sampleContent"
                    >
</app-view-post-card>