<ul class="navbar-nav" *ngIf="isAuthenticated | async">
    <li class="nav-item">
        <a  class="nav-item-link" [routerLink]='["/authentication/profile"]' title="Manage">Welcome, {{ userName | async }}</a>
        <a  class="nav-item-link" [routerLink]='["/authentication/logout"]' [state]='{ local: true }' title="Logout">Sign Out</a>
    </li>
</ul>
<ul class="navbar-nav" *ngIf="(isAuthenticated | async) !== true">
    <li class="nav-item">
        <a class="nav-item-link" [routerLink]='["/authentication/register"]'>Sign Up</a>
        <a class="nav-item-link" [routerLink]='["/authentication/login"]'>Sign In</a>
    </li>
</ul>
