.navbar-nav {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    a.nav-item-link{
        text-decoration: none;
        &:first-of-type {
            padding-right: 20px;
        }
    }

}