<section class="main-content-section">
  <app-view-post-card *ngFor="let card of currentSetOfPostCards$ | async; let i = index" [postCardModel]="card" class="flex-item"></app-view-post-card>
</section>

<mat-paginator [length]="postsCount$ | async"
               [pageSize]="5"
               (page)="onPageChanged($event)"
               [pageIndex]="currentPageIndex"
               hidePageSize="true">
</mat-paginator>

<app-signin-menu></app-signin-menu>
<button (click)="callApi()">call api</button>
{{ isAuthenticated | async }}